<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<bean id="article" class="com.wglee.spring.study.model.Article">-->
        <!--<property name="content" value="Hello, Spring!" />-->
        <!--<property name="tags">-->
            <!--<list>-->
                <!--<bean class="com.wglee.spring.study.model.Tag">-->
                    <!--<constructor-arg name="name" value="Java" />-->
                <!--</bean>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    
    <context:component-scan base-package="com.wglee.spring.study" />

    <!--<import resource="mvcConfig.xml" />-->
    <import resource="databaseConfig.xml" />
</beans>